[Chorus: KSI]
I'm in the thick of it, everybody knows
They know me where it snows, I skied in and they froze
I don't know no nothin' 'bout no ice, I'm just cold
Forty somethin' milli' subs or so, I've been told

[Verse 1: KSI]
I'm in my prime, and this ain't even final form
They knocked me down, but still, my feet, they find the floor
I went from living rooms straight out to sold-out tours
Life's a fight, but trust, I'm ready for the war

[Pre-Chorus: KSI]
Woah-oh-oh
This is how the story goes
Woah-oh-oh
I guess this is how the story goes

[Chorus: KSI]
I'm in the thick of it, everybody knows
They know me where it snows, I skied in and they froze
I don't know no nothin' 'bout no ice, I'm just cold
Forty somethin' milli' subs or so, I'vе been told

[Verse 2: KSI]
From the screen to the ring, to the pеn, to the king
Where's my crown? That's my bling
Always drama when I ring
See, I believe that if I see it in my heart
Smash through the ceiling 'cause I'm reaching for the stars
See pop shows near New York City
Get tickets as low as $373
You might also like
Die With A Smile
Lady Gaga & Bruno Mars
She Knows
J. Cole
Port Antonio
J. Cole
[Pre-Chorus: KSI]
Woah-oh-oh
This is how the story goes
Woah-oh-oh
I guess this is how the story goes

[Chorus: KSI & Trippie Redd]
I'm in the thick of it, everybody knows
They know me where it snows, I skied in and they froze (Woo)
I don't know no nothin' 'bout no ice, I'm just cold
Forty somethin' milli' subs or so, I've been told

[Verse 3: Trippie Redd, KSI, Trippie Redd & KSI]
Highway to heaven, I'm just cruisin' by my lone'
They cast me out, left me for dead, them people cold
My faith in God, mind in the sun, I'm 'bout to sow (Yeah)
My life is hard, I took the wheel, I cracked the code (Yeah-yeah, woah-oh-oh)
Ain't nobody gon' save you, man, this life will break you (Yeah, woah-oh-oh)
In the thick of it, this is how the story goes

[Chorus: KSI, Trippie Redd, KSI & Trippie Redd]
I'm in the thick of it, everybody knows
They know me where it snows, I skied in and they froze (Woo)
I don't know no nothin' 'bout no ice, I'm just cold
Forty somethin' milli' subs or so, I've been told
I'm in the thick of it, everybody knows (Everybody knows)
They know me where it snows, I skied in and they froze (Yeah)
I don't know no nothin' 'bout no ice, I'm just cold
Forty somethin' milli' subs or so, I've been told (Ooh-ooh)
[Outro: KSI, KSI & Trippie Redd]
Woah-oh-oh (Nah-nah-nah-nah, ayy, ayy)
This is how the story goes (Nah, nah)
Woah-oh-oh
I guess this is how the story goes