{% extends "base.html" %}

{% block content %}
<h1>Train Schedule for {{ station.name }}</h1>

<table border="1">
    <tr>
        <th>Train Number</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Platform</th>
    </tr>
    {% for train in trains %}
    <tr>
        <td>{{ train.train_number }}</td>
        <td>{{ train.departure_time }}</td>
        <td>{{ train.arrival_time }}</td>
        <td>{{ train.platform }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
